.content{
    background: white;
    max-height: 560px;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
      left: 170px;
      top: 70px;
    z-index: 1;
  }
  
  @media (max-width: 600px) {
  
    .content{
      position: absolute;
      justify-content: center;
      top: 70px;
      left: 7px;
    }
  }