#profileform{
    display: flex;
}
#formphoto{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
    width: auto;
    text-align: center;
}
#data{
    display: flex;
    flex-direction: column;
}
#login_data{
    margin: 5px;
}
#personal_data{
    margin: 5px;
}

.row{
    display: flex;
    padding: 10px;
    align-items: baseline;
}
.row .col4{
    width: 200px;
    padding-right: 10px;
}
.row .col8{
    width: auto;
    padding-left: 10px;
}