.card{
    background-color: rgba(255,255,255);
    border-radius: 5px;
    margin: 6px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 4px rgba(62, 29, 66, 0.6);
    padding: 3rem 2rem;
}

.listgroup{
    display: flex;
    flex-direction: column;
}

.listitem{
    text-align: start;
    margin: 2px;
    padding: 2px;
    list-style: none;
}