.content{
    background: white;
    max-width: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
      left: 10.5rem;
      top: 4rem;
    z-index: 3;
  }
  
  @media (max-width: 600px) {
  
    .content{
      position: absolute;
      justify-content: center;
      top: 4rem;
      left: .5rem;
    }
  }