.nav{
    height: 64px;
}

.content{
    display: flex;
}

.btn{
    text-decoration: none;
    background: rgb(152, 0, 115);
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn:hover{
    background: #4B2947;
  }

@media (orientation: portrait)  {
    .content{
        flex-direction: column;
    }
}